body,
html {
    font-family: verdana;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    background-color: #7a7a7a;
    margin: 0;
    text-rendering: optimizeLegibility;
    height: 100%;
}